{% extends 'layout.twig' %}
{% block content %}
<!-- EVENTS -->
<div class="card mt-5">
	<div class="card-header">
		<h3>Active Events</h3>
	</div>
	<a href="{{ 'events/new' | url }}" class="btn btn-outline-info btn-lg btn-block rounded-0">Create New Event</a>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Event Name</th>
					<th scope="col">Place</th>
					<th scope="col">Date</th>
					<th scope="col">Encharge</th>
					<th scope="col">Edit</th>
					<th scope="col">Manage</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>First Event</td>
					<td>Korvetstraat 20</td>
					<td>25 july 2018</td>
					<td><img src="http://www.piachievers.com/img/users-male-2.png" class="rounded-circle border border-success" width="30" height="30" alt="profile img"></td>
					<td><a href="{{ 'events/edit' | url }}"><i class="far fa-edit fa-lg"></i></a></td>
					<td><a href="{{ 'events/manage' | url }}"><i class="fas fa-cogs fa-lg"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- OLD EVENTS -->
<div class="card mt-5">
	<div class="card-header">
		<h3>Event Log</h3>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Event Name</th>
					<th scope="col">Budget</th>
					<th scope="col">Cost</th>
					<th scope="col">Encharge</th>
					<th scope="col">Edit</th>
					<th scope="col">Manage</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>First Event</td>
					<td>5.234,59</td>
					<td>6.700,00</td>
					<td><img src="http://www.piachievers.com/img/users-male-2.png" class="rounded-circle border border-success" width="30" height="30" alt="profile img"></td>
					<td><a href="edit"><i class="far fa-edit fa-lg"></i></a></td>
					<td><a href="manage"><i class="fas fa-cogs fa-lg"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}