<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

		<title>Henna THODE</title>
	</head>
	<body>
				
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#">Events</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Budgets</a></li>
					<li class="nav-item"><a class="nav-link" href="#">People</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Companies</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="navbar-brand" href="#">
							<img src="http://www.piachievers.com/img/users-male-2.png" class="rounded-circle border border-success" width="50" height="50" alt="profile img">
						</a>
					</li>
			</ul>
		</nav>

		<div class="container-fluid">
			
			<div class="row mt-5">
				<div class="col-3">
					<img src="http://www.piachievers.com/img/users-male-2.png" class="rounded-circle border border-success" width="100%" alt="profile img">
				</div>
				<div class="col-4">
					<div class="card text-center">
						<div class="card-header">
							Contact Info
						</div>
						<div class="card-body">
							<table class="table">
								<tr>
									<th scope="row">Full Name</th>
									<td>Yefri Alexander Gonzalez Rendon</td>
								</tr>
								<tr>
									<th scope="row">Address</th>
									<td>Korvetstraat 20</td>
								</tr>
								<tr>
									<th scope="row">Phone</th>
									<td>(+297) 568-0101</td>
								</tr>
								<tr>
									<th scope="row">Telephone</th>
									<td>(+297) 582-1173</td>
								</tr>
								<tr>
									<th scope="row">Birthday</th>
									<td>December 30, 1994</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-5">
					<div class="card text-center">
						<div class="card-header">
							Extra Info
						</div>
						<div class="card-body">
							<table class="table">
								<tr>
									<th scope="row">AZV</th>
									<td>1160597900</td>
								</tr>
								<tr>
									<th scope="row">Account #</th>
									<td>8123415 / CMB<td>
								</tr>
								<tr>
									<th scope="row">Work</th>
									<td>RSI</td>
								</tr>
								<tr>
									<th scope="row">Work Number</th>
									<td>(+297) 640-4545</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-12 mt-5">
					<div class="card text-center">
						<div class="card-header">
							History
						</div>
						<div class="card-body">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	</body>
</html>